<?xml version='1.0' encoding='utf-8'?>
<manifest package="es.prodinfo.plugins.bluetooth.transfer.capacitorpluginbluetoothtransfer"
    xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-permission android:name="android.permission.BLUETOOTH"/>
  <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <application>
    <provider
        android:name="es.prodinfo.plugins.bluetooth.transfer.FileProvider"
        android:authorities="${applicationId}.opener.provider"
        android:exported="false"
        android:grantUriPermissions="true">
      <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/opener_paths"/>
    </provider>
  </application>
</manifest>
